<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href='/static/styles/style.css' />
    
    
    <script type="text/javascript">
        function timer(){
            var obj=document.getElementById('timer_inp');
            if (obj.innerHTML<=0){
                setTimeout(function(){},1000);
            } else {
                setTimeout(timer,1000);
                obj.innerHTML--;
            }

        }
        setTimeout(timer,1000);
    </script>  
    
    
</head>
<body>
    <div class="header">
        <a href="/room/{{room_token}}"><img class="header_img" src="/static/img/home.png" width="30" height="30" alt="home" float="left"></a>
            <div class="room_token">{{room_token}}</div>
    </div>
    
    <div class="task_container">
        <div class="task_card">
            <h2 class="text_id">{{text_id}}</h2>

            <table class="card-table">
                <tr>
                    <th>Осталось времени</th>
                    <th>Открытые задания</th>
                    <th>Назначенные задания</th>
                    <th>Завершенные задания</th>
                </tr>
                
                <tbody class="task_counts">

                </tbody>
            </table>
            


            <p class="text"></p>
            <p class="types"></p>

            <a id="download_link">
                <button class="send graphite-flat-button">Скачать разметку</button>
            </a>
        </div>
        
    </div>
    
<script type="text/javascript">
    let room_token = document.querySelector('.room_token').innerText
    let text_id = document.querySelector('.text_id').innerText
       

    function post_request(url_path, json) {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", url_path, false)
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(json);
        if (xhr.status != 200) {
          alert( xhr.status + ': ' + xhr.statusText );
        }
    
        return JSON.parse(xhr.responseText)
    }

    let json = JSON.stringify({
      room_token: room_token,
      text_id: text_id
    });
    let text_info = post_request('http://13.59.5.126:8003/text_result', json);
    var output = text_info['text'].split('');
    for (var segment of text_info["segments"]) {
        for (var i = segment['start_char']; i < segment['end_char']; i++) {
            output[i] = `<span class="mistake${segment["segment_id"]}">${output[i]}</span>`; 
        }
    };
    
    let types_html = ``
    for (var segment of text_info["segments"]) {
        types_html += `<p class="mistake${segment['segment_id']}">${segment['type']}</p>`
    };
    
    let counts_html = `                    
                        <tr>
                            <td class="timer_td"></td>
                            <td>${text_info['task_counts'][0]}</td>
                            <td>${text_info['task_counts'][1]}</td>
                            <td>${text_info['task_counts'][2]}</td>
                        </tr>`;

    
    let inner_html = output.join(''); 
    document.querySelector('.task_counts').innerHTML = counts_html;
    document.querySelector('.text').innerHTML = inner_html;
    document.querySelector('.types').innerHTML = types_html;
    

    last_time = text_info["task_time"] - (Math.floor(Date.now() / 1000) - text_info["start_time"]);
    last_time = Math.max(last_time, 0);
    document.querySelector('.timer_td').innerHTML = `<span id="timer_inp">${last_time}</span>c`;

    
    var data_str = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(text_info));
    var download_link = document.getElementById('download_link');
    download_link.setAttribute("href", data_str);
    download_link.setAttribute("download", `${text_id}.json`);

 
</script>    
    
</body>
